<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieTheater</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/Index.css"/>
    <link rel="stylesheet" href="~/css/NewMovie.css"/>

</head>
<!-- Link of tese nave bar https://codepen.io/fortecdev/full/zPxXWj-->
<body>
    <header>
        <div id="wrapper" class="toggled">
        <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Movie" asp-action="NewMovieForm">New Movie</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="divNaveBarTop" id="weapper">
            <ul class="nav justify-content-center ">
                <a class="navbar-brand">
                </a>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Index.js"></script>
</body>
</html>
