@model MovieTheater.Models.Movie
@section Css{
    <link rel="stylesheet" href="~/css/NavBar.css"/>
    <link rel="stylesheet" href="~/css/NewMovie"/>
}
    <div class="container register-form">
        <div class="form">
            <div class="form-content">
                <div class="row">
                    <form asp-controller="Movie" asp-action="NewMovie" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MovieName" class="control-label"></label>
                        <div class="col-sm-13">
                            <input asp-for="MovieName" class="form-control"/>
                            <span asp-validation-for="MovieName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <div class="col-sm-13">
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <div class="col-sm-13">
                            <input asp-for="Duration" class="form-control" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Director" class="control-label"></label>
                        <div class="col-sm-13">
                            <input asp-for="Director" class="form-control" />
                            <span asp-validation-for="Director" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <div class="col-sm-13">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="RelaseDateOf" class="control-label"></label>
                        <div class="col-sm-13">
                            <input asp-for="RelaseDateOf" class="form-control" />
                            <span asp-validation-for="RelaseDateOf" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
                </div>
        </div>
        </div>
    </div>